@keyframes headerFixed {
    0% {
        top: -100px;
    }

    100% {
        top: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    width: 100%;

    &.fixed {
        position: fixed;
        z-index: 3;
        animation: headerFixed 0.2s ease-in-out;

        .header-logo svg {
            height: 30px;
        }
    }
}

.main {
    flex: 1 0 auto;

    &.header-fixed {
        margin-top: 160px;
    }
}

.main-content {
    overflow: hidden;
}

.footer {
    flex: 0 0 auto;
}

.tabs .tab-content img {
    max-width: none;
    position: relative;
    top: 0;
    left: 0;
}

.img-drag,
.img-hover {
    overflow: hidden;
    height: 600px;
    position: relative;
}

.img-drag {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.img-hover {
    &__btn {
        position: absolute;
        z-index: 2;
        width: 50px;
        height: 50px;
        font-size: 11px;
        opacity: 0;
    }

    &__btn--top {
        top: 0;
        left: 0;
        width: 100%;
        cursor: n-resize;
    }

    &__btn--right {
        top: 0;
        right: 0;
        height: 100%;
        cursor: e-resize;
    }

    &__btn--bottom {
        bottom: 0;
        left: 0;
        width: 100%;
        cursor: s-resize;
    }

    &__btn--left {
        top: 0;
        left: 0;
        height: 100%;
        cursor: w-resize;
    }
}

.tabs .tab-header-wrap {
    position: relative;
    z-index: 2;
}

.tabs .tab-content {
    width: 100%;
}

.tabs .tab-content:not(.active) {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.tabs .tab-content-wrap {
    border: 1px solid #ccc;
    position: relative;
}

@media (max-width: $mobile-max) {
    .header-logo {
        width: 100%;
    }

    .header-logo svg {
        height: 20px;
    }

    .tabs .tab-header-wrap {
        margin: 10px 0;
        flex-direction: column;
        border: 1px solid #ccc;
        position: relative;
        transition: all 0.2s;
        cursor: pointer;

        &::before {
            content: "";
            width: 1px;
            height: 10px;
            background: #000;
            position: absolute;
            right: 25px;
            top: 15px;
            transform: rotateZ(-45deg);
            transition: all 0.2s;
        }

        &::after {
            content: "";
            width: 1px;
            height: 10px;
            background: #000;
            position: absolute;
            right: 18px;
            top: 15px;
            transform: rotateZ(45deg);
            transition: all 0.2s;
        }

        &.open {
            transition: all 0.2s;

            &::before {
                transform: rotateZ(45deg);
            }

            &::after {
                transform: rotateZ(-45deg);
            }

            .tab-header {
                display: block;
            }
        }
    }

    .tabs .tab-header.active {
        box-shadow: none;
        pointer-events: none;
        order: 1;
    }

    .tabs .tab-header:not(.active) {
        display: none;
        order: 2;
    }
}
